###########################################################################
# This file instructs git which files or folders to exclude. There may be 
# more files in the subdirectories of olfStim. 
# See http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository
# Some examples
#	# a comment - this is ignored
#	*.a       # no .a files
#	!lib.a    # but do track lib.a, even though you're ignoring .a files above
#	/TODO     # only ignore the root TODO file, not subdir/TODO
#	build/    # ignore all files in the build/ directory
#	doc/*.txt # ignore doc/notes.txt, but not doc/server/arch.txt
###########################################################################
# The olfStimScripting.m file is specific for every installation of olfStim 
# and a default version of the function should not be changed with commits
# from different users.
# ./olfStimScripting.m
